/* estilos de página*/



body {
    background-color: #000;


}


nav{

    border-radius:20px;

	display:grid;
    text-align:center;
    padding:33px33px00;
    
	grid-template-columns:1fr1fr1fr1fr1fr1fr;
	gap:50px;
	background:#E00;
	box-sizing:border-box;


}


.a{
	 color:#fff;
	font-family: novecento-sans, sans-serif;
    font-size: xx-large;
    text-decoration: none;


  
	margin-top: 10px;
	margin-bottom: 40px;






}

.b{
    text-align: center;
    border-radius: 10px;
     color:#000;
    font-family: novecento-sans, sans-serif;
    font-size: xx-large;
    text-decoration: none;


  
    margin-top: 10px;
    margin-bottom: 40px;






}

#contenidos h1 {text-decoration: none;
color:black;
display:block;
background-repeat:no-repeat;
text-indent:35px;
padding:10px;
margin:15px 0 0;}

#contenidos1 {text-decoration: none;
color:white;
display:block;
background-repeat:no-repeat;
text-indent:35px;
padding:10px;
margin:15px00;}


a:hover {
  color:black;
}



.col3{

    padding-bottom:30px;


}

.col3 img{
margin:20px;
border:10px solid #eee;
-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}

.col3 img:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}

.col4 img{
margin: 20px;
border: 10px solid #eee;
-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
}

.col4 img:hover {
-webkit-transform: rotate(-7deg);
-moz-transform: rotate(-7deg);
-ms-transform: rotate(-7deg);
transform: rotate(-7deg);
}
form {text-align: center; text-decoration: none;}



figure img {
	border-radius: 20px;
}

figure img {align-content: center;}





footer{
    background: #1A0000  ;
    padding: 100px 0 30px 0;
    margin: auto;
    overflow: hidden;
}


.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
    font-family: novecento-sans, sans-serif;
   
}

.content-foo{
    text-align: center;
    font-family: novecento-sans, sans-serif;
    font-size: large;



}
.content-foo h1{
    color: #fff;
    font-size: 110px;
    border-bottom: 3px solid #e00;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #e00;
    padding-bottom: 5px;
    margin-bottom: 10px;
}



.titulo-final{
    text-align: center;
    font-family: novecento-sans, sans-serif;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}

@media all and (max-width: 800px){
    footer{height: 5px;}
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10 {width: 99%; display: block;}
}